# Compiled binary files
r-type_server
r-type_client

# PoC binaries
asio_udp_server
asio_udp_client
boost_udp_server
boost_udp_client
qt_udp_server
qt_udp_client

# Personal docs
my_notes(do_not_delete)

# Prerequisites
*.d

# Compiled Object files
vcpkg/vcpkg
vcpkg_installed
*.slo
*.lo
*.o
*.obj
.cache

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.vscode
.idea
*.Identifier

my-build-debug
cmake-build-debug
my-build-release
cmake-build-release
windows-build