[submodule "src/client/graphic/raylib"]
	path = src/client/graphic/raylib
	url = https://github.com/raysan5/raylib
[submodule "src/client/GraphicRaylib/raylib"]
	path = src/client/GraphicRaylib/raylib
	url = git@github.com:raysan5/raylib.git
