name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install SFML Dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libx11-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxi-dev \
          libudev-dev \
          libgl1-mesa-dev \
          libfreetype6-dev \
          libharfbuzz-dev \
          libflac-dev \
          libogg-dev \
          libvorbis-dev \
          libopenal-dev \
          ccache

      - name: Setup MSVC Developer Command Prompt
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure C++ with CMake
        env:
          CMAKE_CXX_COMPILER_LAUNCHER: ${{ matrix.os == 'ubuntu-latest' && 'ccache' || '' }}
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build --config Release --parallel
      - name: Publish build artifacts client windows
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: r-type-client-${{ matrix.os }}
          path: build/**/r-type_client.exe

      - name: Publish build artifacts client linux
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: r-type-client-${{ matrix.os }}
          path: |
            build/**/r-type_client

      - name: Publish build artifacts server windows
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: r-type-server-${{ matrix.os }}
          path: build/**/r-type_server.exe

      - name: Publish build artifacts server linux
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: r-type-server-${{ matrix.os }}
          path: build/**/r-type_server

      - name: Create a Release
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ matrix.os }} ${{ github.ref }}
          body: Release for ${{ matrix.os }} ${{ github.ref }}
          files: |
            build/**/r-type_client.exe
            build/**/r-type_client
            build/**/r-type_server
            build/**/r-type_server.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
