name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install SFML Dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libx11-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxi-dev \
          libudev-dev \
          libgl1-mesa-dev \
          libfreetype6-dev \
          libharfbuzz-dev \
          libflac-dev \
          libogg-dev \
          libvorbis-dev \
          libopenal-dev \
          libxinerama-dev \
          gnome-desktop-testing \
          libasound2-dev libpulse-dev \
          libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
          libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
          libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
          libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libthai-dev \

      - name: Setup MSVC Developer Command Prompt
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure C++ with CMake
        run: |
          cmake --preset ${{ matrix.os }}

      - name: Build
        run: |
          cmake --build --preset ${{ matrix.os }}
      - name: Publish build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: r-type-client-${{ matrix.os }}
          path: |
            build/src/client/Release
            build/src/client/r-type_client
            build/**/*.exe
