name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update submodules
        run: |
          git submodule update --init
      - name: Configure
        run: |
          mkdir build && cd build
          cmake ..
      - name: Build
        run: |
          cd build && cmake --build . -- -j
